body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style:none
}

li {
  border-radius: 3px;
  border: solid 2px rgba(221, 222, 240, 0.5);
  min-width: 250px;
  width: 10vw;
  min-height: 100px;
  height: auto;
  margin: 5px;
}

p {
  font-size: 1em;
}

